# Basic Streamlit App

## Load data

In [2]:
import pandas as pd

In [3]:
pd.read_excel("../../../dataL/dfprueba.xlsx")

,idfam,idper,tiphogar,relac,edad,sexo,pnac,zona,time,dtrab,salmed
0,A000486A,Z8397138,2,HIJO/A,11,Hombre,ESPAÑA,AREQUITO,21,NaN,NaN
1,A000486A,Z7519998,2,HIJO/A,16,Mujer,ESPAÑA,AREQUITO,21,NaN,NaN
2,A000486A,R5680622,2,PRINCIPAL,37,Hombre,RUMANIA,AREQUITO,21,503.0,975.0
3,A000486A,B7854032,2,CONYUGE,38,Mujer,RUMANIA,AREQUITO,21,429.0,454.0
4,A000486A,Y9397616,2,HIJO/A,14,Hombre,ESPAÑA,AREQUITO,21,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,A138067Y,N7621898,3,HIJO/A,11,Hombre,ESPAÑA,AREQUITO,27,NaN,NaN
996,A138067Y,X6136576,3,HIJO/A,9,Hombre,ESPAÑA,AREQUITO,27,NaN,NaN
997,A138067Y,J7157047,3,HIJO/A,6,Mujer,ESPAÑA,AREQUITO,27,NaN,NaN
998,A138067Y,H6969549,3,CONYUGE,34,Mujer,MARRUECOS,AREQUITO,27,387.0,852.0
999,A138067Y,X5250353,3,PRINCIPAL,44,Hombre,MARRUECOS,AREQUITO,27,439.0,1298.0

## Data visualization

## Create app

1. Create a file `app.py`
2. Add the previous code